@import url(variables.css);
@import url(utils.css);

body {
    height: 100vh;
    background-color: var(--gray-900);
    position: relative;
    display: flex;
    justify-content: center;
}

main {
    height: 100vh;
}

.card {
    color: var(--white-color);
    width: 24rem;
    /* height: 32rem; */
    background-color: var(--gray-800);
    border-radius: .625rem;
    flex-direction: column;
    padding: 1.875rem;
}

.card__header {
    flex-direction: column;
}

.card__avatar img {
    width: 6.25rem;
    border-radius: 50%;
    margin-bottom: var(--spacing-300);
}

.card__title {
    font-size: var(--font-large);
    font-weight: var(--font-bolder);
    margin-bottom: var(--spacing-100);
}

.card__subtitle {
    font-size: var(--font-small);
    font-weight: var(--font-bolder);
    margin-bottom: var(--spacing-300);
    color: var(--green-color);
}

.card__description {
    font-size: var(--p-font-size);
    font-weight: var(--font-light);
    margin-bottom: var(--spacing-300);
    text-align: center;
}

.card__links {
    width: 100%;
}

.card__list {
    list-style-type: none;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.card__listItem {
    background-color: var(--gray-700);
    margin-bottom: var(--spacing-150);
    padding: var(--spacing-150);
    border-radius: .625rem;
    width: 100%;
    font-size: var(--font-small);
    font-weight: var(--font-bold);
}

.card__listItem a {
    text-decoration: none;
    color: var(--white-color);
}

.card__listItem-active:hover {
    background-color: var(--green-color);
    color: var(--gray-700);
    cursor: pointer;
}

.card__listItem-active:hover a {
    color: var(--white-color);
}

footer {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 375px) {
    .card {
        width: 20rem;
    }
}